@use "variables";
.navbar {
  background-color: variables.$primary !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    font-weight: bold;
    color: variables.$light !important;
  }

  .nav-link {
    margin-left: -1rem;
    color: variables.$dark !important;
    &:hover {
      color: variables.$primary !important;
    }
  }
}


.nav_bar .nav_container{
  background-color: #2a509a;
}