.sidebar-footer {
  top: -11%;
  position: relative;
  height: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-button {
  display: flex;
  width: 73%;
  height: 48%;
  color: white;
  background: black;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  margin-bottom: 22px;
}

.logout-button :hover {
  color: black;
  background: white;
}
.css-1lu8sht .ps-sidebar-container {
  height: 100vh !important;
}
.pro-sidebar .pro-menu-item {
  font-size: 140px;
  font-weight: 500;
  color: var(--dark);
}

.pro-sidebar .pro-menu-item:hover {
  background: var(--dark);
  color: var(--primary);
}

.pro-sidebar .pro-icon-wrapper {
  background: transparent !important;
}

/* Sidebar root styles */
.ps-sidebar-root .css-zjhyy9 {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #efefef;
  -webkit-transition: width, left, right, 300ms;
  transition: width, left, right, 300ms;
  width: 250px;
  min-width: 250px;
  height: 100vh !important;
}

.css-1lu8sht .ps-sidebar-container {
  height: 100vh !important;
}